body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 20px;
  color: #90949c;
  font-size: 16px;
}

#calendar {
  position: relative;
  display: table;
}

.hour {
  position: relative;
  height: 60px;
  display: table-row;
  text-align: right;
  font-size: 10px;
}

time {
  display: block;
}

.hour .half {
  font-size: 10px;
  margin-bottom: 14px;
}

.time_wrap .time {
  font-weight: bold;
  color: #666;
}

.time_wrap .am {
  font-size: 10px;
}

.time_wrap_hour {
  margin: -8px 0 16px 0;
}

.hour_info {
  display: table-cell;
  padding-right: 10px;
}

.hour_space {
  display: table-cell;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-bottom: none;
  width: 620px;
}

.last .hour_space {
  border-bottom: 1px solid #ccc;
}

#events {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 58px;
  right: 0;
  width: 600px;
  padding: 0 10px;
}

.event {
  position: absolute;
  background: #eee;
  border-left: seagreen 10px solid;
  box-sizing: border-box;
}

.event h1, .event h2 {
  font-weight: normal;
  margin: 0;
}

.event h1 {
  color: seagreen;
  font-size: 16px;
  padding: 10px 10px 6px;
}

.event h2 {
  color: grey;
  font-size: 10px;
  padding: 0 10px;
}
